node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# App Configs
python_src/config.json
App/UiBroadCast-Archipelago/broadcast_settings.json

# Python temporary files
__pycache__/
*.pyc
python_src/temp/
