node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# App Configs
python_src/config.json
Extractor/Patcher/config.json
App/UiBroadCast-Archipelago/broadcast_settings.json

# Python temporary files
__pycache__/
*.pyc
python_src/temp/

# Build artifacts and binaries
*.o
*.exe
!**/poptracker.exe
!**/patcher.exe

# ROMs and Game files
*.sfc
*.nes
*.z64
*.n64
*.gb
*.gbc
*.gba
*.iso
*.wbfs
*.cci
*.3ds
*.nds
